<!DOCTYPE html>
<html>
<head>
  <title>Cangaroo</title>
  <%= stylesheet_link_tag    "cangaroo/application", media: "all" %>
  <%= javascript_include_tag "cangaroo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
